.container{
    position: relative;
}
.line{
    position: absolute;
    width: 2px;
    background-color: rgb(255, 80, 80);

}
.b-line, .t-line{
    height: 2px;
}
/* .l-line, .r-line{
    height: 50%;
} */
